/* BASE LAYOUT COLORS */
$color-midnight-green: #014e56;
$color-light-coral: #f67e7e;
$color-primary-text: #ffffff;
$color-deep-jungle-green: #004047;
$color-sacstate-green: #012f34;
$color-rapture-blue: #79c8c7;
$color-dark-green: #002529;
