@use '../abstracts' as *;

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  width: 8em;
  height: 2em;
  margin-right: auto;
}

.menu-btn {
  border-style: none;
  background-color: inherit;
}

.menu-btn svg {
  height: 2rem;
  width: 1.25rem;
  stroke-width: 3px;
  stroke-linecap: square;
  stroke: $color-primary-text;
}
