@use '../abstracts/variables' as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid white;
  display: block;
  width: 100%;
  padding: 1em;
  font-size: 1rem;
  text-align: start;
  color: $color-primary-text;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}

input::placeholder,
textarea::placeholder {
  color: $color-primary-text;
  opacity: 60%;
  font-size: 1rem;
  font-weight: 600;
  text-indent: 0.25em;
}

input:focus,
textarea:focus {
  outline: none;
}

button[type='submit'] {
  border-radius: 2em;
  border-style: none;
  padding: 0.75em 1.5em;
  color: $color-deep-jungle-green;
  font-size: 1.125rem;
  font-weight: 600;
}

button[type='submit']:hover {
  color: $color-primary-text;
  background-color: $color-dark-green;
}
