@use '../abstracts/variables' as *;

#directors {
  text-align: center;
  width: 100%;
  gap: 1em;
  background-color: $color-deep-jungle-green;
}

#directors h1 {
  margin-bottom: 1.5em;
}

#directors h3 {
  color: $color-rapture-blue;
}

.directors-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 65rem;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5em;
}

.director-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-front,
.card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.director-img {
  width: 6em;
  height: 6em;
  border: 2px solid $color-rapture-blue;
  border-radius: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: $color-light-coral;
}
